{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5">
  <h3>Forgot Password</h3>
  <p>Please enter your student email. If it exists in our system, we will send a password reset link.</p>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group mt-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
